<a href="https://colab.research.google.com/github/IanTirok/WEEK-4-IP/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_05_Ian_Tirok_Python_Notebook_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Questions


1. Identify the most popular hour of the day for picking
up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

2. What is the most popular hour for returning cars?
What station is the most popular?
Overall?
3. At the most popular picking hour?
What postal code is the most popular for picking up Blue cars? 
4. Does the most popular station belong to that postal code?
Overall?
5. At the most popular picking hour?

 **1. IMPORTING LIBRARIES**

In [ ]:
import pandas as pd

import numpy as np

**2. LOADING OUR DATASETS**

In [ ]:

url = 'http://bit.ly/autolib_dataset'

df = pd.read_csv(url, index_col = 0, dtype = {'year':str,'month':str,'day':str,'hour':str,'minute':str })

df.head(1)

                     Cars  Bluecar counter  Utilib counter  ...  day  hour minute
Address                                                     ...
2 Avenue de Suffren     0                0               0  ...    8    11     43

[1 rows x 24 columns]

**3. GETTING MORE INFORMATION ABOUT OUR DATASET**.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 2 Avenue de Suffren to 5 Rue Henry Brisson
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cars                 5000 non-null   int64
 1   Bluecar counter      5000 non-null   int64
 2   Utilib counter       5000 non-null   int64
 3   Utilib 1.4 counter   5000 non-null   int64
 4   Charge Slots         5000 non-null   int64
 5   Charging Status      5000 non-null   object
 6   City                 5000 non-null   object
 7   Displayed comment    111 non-null    object
 8   ID                   5000 non-null   object
 9   Kind                 5000 non-null   object
 10  Geo point            5000 non-null   object
 11  Postal code          5000 non-null   int64
 12  Public name          5000 non-null   object
 13  Rental status        5000 non-null   object
 14  Scheduled at         47 non-null     object
 15  Slots                5000 non-null   int64
 16  Station type         5000 non-null   object
 17  Status               5000 non-null   object
 18  Subscription status  5000 non-null   object
 19  year                 5000 non-null   object
 20  month                5000 non-null   object
 21  day                  5000 non-null   object
 22  hour                 5000 non-null   object
 23  minute               5000 non-null   object
dtypes: int64(7), object(17)
memory usage: 976.6+ KB

In [ ]:
df.shape

(5000, 24)

In [ ]:
df.count()

Cars                   5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
Displayed comment       111
ID                     5000
Kind                   5000
Geo point              5000
Postal code            5000
Public name            5000
Rental status          5000
Scheduled at             47
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
year                   5000
month                  5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

In [ ]:
#finding out how many empty or null values are there in a table
ab = df.shape[0]
bc = ab - df.count() 
bc

Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

**4. RE-DEFINING THE COLLUMNS**

In [ ]:
#Converting the year, month, day, minute, hour, date collumns to datemonth datatype

df['date'] = df.year.str.cat([df.month,df.day], sep = '/')

df['time'] = df.hour.str.cat([df.minute], sep = ':')

df['date_time'] = df.date.str.cat([df.time], sep = ' ')

df.drop(['year','month',	'day', 'minute','hour',	'date',	'time'],axis = 1, inplace = True)

df.head(3)

                                  Cars  ...       date_time
Address                                 ...
2 Avenue de Suffren                  0  ...  2018/4/8 11:43
145 Rue Raymond Losserand            6  ...   2018/4/6 7:24
2 Avenue John Fitzgerald Kennedy     3  ...  2018/4/3 20:14

[3 rows x 20 columns]

**5. CLEANING THE DATA**

In [ ]:
#Changing collumns to lowercase to stardadize collumn names

df.columns = map(str.lower, df.columns)
columns = ['cars', 'bluecar_counter', 'utilib_counter', 'utilib_1.4_counter','charge_slots', 'charging_status', 'city', 'displayed_comment', 'id', 'kind','geo_point',
           'postal_code','public_name', 'rental_status','scheduled_at','slots','station_type','status','subscription_status','date_time']
df.columns = columns
df.head()

                                    cars  ...       date_time
Address                                   ...
2 Avenue de Suffren                    0  ...  2018/4/8 11:43
145 Rue Raymond Losserand              6  ...   2018/4/6 7:24
2 Avenue John Fitzgerald Kennedy       3  ...  2018/4/3 20:14
51 Rue EugÃ¨ne OudinÃ©                 3  ...   2018/4/4 4:37
6 avenue de la Porte de Champerret     3  ...  2018/4/8 17:23

[5 rows x 20 columns]

In [ ]:
#lets see the shape of the table now
df.shape

(5000, 20)

In [ ]:
#Removing the closed or broken stations

df = df[df['status'] == 'ok']

df.shape

(4623, 20)

In [ ]:
#dropping duplicates
df.drop_duplicates()
df

                                    cars  ...       date_time
Address                                   ...
2 Avenue de Suffren                    0  ...  2018/4/8 11:43
145 Rue Raymond Losserand              6  ...   2018/4/6 7:24
2 Avenue John Fitzgerald Kennedy       3  ...  2018/4/3 20:14
51 Rue EugÃ¨ne OudinÃ©                 3  ...   2018/4/4 4:37
6 avenue de la Porte de Champerret     3  ...  2018/4/8 17:23
...                                  ...  ...             ...
8 avenue MÃ©nelotte                    2  ...  2018/4/6 11:26
37 rue de Dantzig                      4  ...  2018/4/4 16:56
142 rue du Bac                         1  ...    2018/4/1 7:1
2 avenue du Val de Fontenay            2  ...  2018/4/4 17:27
5 Rue Henry Brisson                    4  ...   2018/4/8 10:2

[4623 rows x 20 columns]

In [ ]:
#dropping unnecesary columns
df=df.drop(columns=['displayed_comment','public_name','scheduled_at' ,'geo_point','subscription_status'])
df.shape

(4623, 15)

In [ ]:
#check for null values
df.isnull().sum()

cars                  0
bluecar_counter       0
utilib_counter        0
utilib_1.4_counter    0
charge_slots          0
charging_status       0
city                  0
id                    0
kind                  0
postal_code           0
rental_status         0
slots                 0
station_type          0
status                0
date_time             0
dtype: int64

In [ ]:
#check datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4623 entries, 2 Avenue de Suffren to 5 Rue Henry Brisson
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cars                4623 non-null   int64
 1   bluecar_counter     4623 non-null   int64
 2   utilib_counter      4623 non-null   int64
 3   utilib_1.4_counter  4623 non-null   int64
 4   charge_slots        4623 non-null   int64
 5   charging_status     4623 non-null   object
 6   city                4623 non-null   object
 7   id                  4623 non-null   object
 8   kind                4623 non-null   object
 9   postal_code         4623 non-null   int64
 10  rental_status       4623 non-null   object
 11  slots               4623 non-null   int64
 12  station_type        4623 non-null   object
 13  status              4623 non-null   object
 14  date_time           4623 non-null   object
dtypes: int64(7), object(8)
memory usage: 577.9+ KB

In [ ]:
df.count()

cars                  4623
bluecar_counter       4623
utilib_counter        4623
utilib_1.4_counter    4623
charge_slots          4623
charging_status       4623
city                  4623
id                    4623
kind                  4623
postal_code           4623
rental_status         4623
slots                 4623
station_type          4623
status                4623
date_time             4623
dtype: int64

from the output our data seems clean, no null values and no duplicates and we have standard names for all columns

**6. EXPORT CLEAN DATA**

In [ ]:
df = df.to_csv('electric_car_data.csv')

**7. DATA ANALYSIS**

In [ ]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [ ]:
with open('electric_car_data.csv','r') as f:
    df2 = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS df2;
%sql PERSIST df2;

%sql SELECT * FROM df2 LIMIT 5

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', 'paris-suffren-2', 'STATION', 75015, 'operational', 2, 'station', 'ok', '2018/4/8 11:43'),
 ('145 Rue Raymond Losserand', 6, 6, 0, 0, 0, 'operational', 'Paris', 'paris-raymondlosserand-145', 'STATION', 75014, 'operational', 0, 'station', 'ok', '2018/4/6 7:24'),
 ('2 Avenue John Fitzgerald Kennedy', 3, 3, 0, 2, 0, 'operational', 'Le Bourget', 'lebourget-johnfitzgeraldkennedy-2', 'STATION', 93350, 'operational', 1, 'station', 'ok', '2018/4/3 20:14'),
 ('51 Rue EugÃ¨ne OudinÃ©', 3, 3, 1, 0, 1, 'operational', 'Paris', 'paris-eugeneoudine-51', 'STATION', 75013, 'operational', 2, 'station', 'ok', '2018/4/4 4:37'),
 ('6 avenue de la Porte de Champerret', 3, 3, 0, 0, 0, 'nonexistent', 'Paris', 'paris-portedechamperret-6', 'PARKING', 75017, 'operational', 3, 'station', 'ok', '2018/4/8 17:23')]

In [ ]:
#convert date_time collumn to date time data type
with open ('electric_car_data.csv', 'r') as f:
  df2 = pd.read_csv(f, parse_dates = ['date_time'], infer_datetime_format = True, index_col = 0)

In [ ]:
#check that date_time collumn data type has changed to datetime data type
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4623 entries, 2 Avenue de Suffren to 5 Rue Henry Brisson
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cars                4623 non-null   int64
 1   bluecar_counter     4623 non-null   int64
 2   utilib_counter      4623 non-null   int64
 3   utilib_1.4_counter  4623 non-null   int64
 4   charge_slots        4623 non-null   int64
 5   charging_status     4623 non-null   object
 6   city                4623 non-null   object
 7   id                  4623 non-null   object
 8   kind                4623 non-null   object
 9   postal_code         4623 non-null   int64
 10  rental_status       4623 non-null   object
 11  slots               4623 non-null   int64
 12  station_type        4623 non-null   object
 13  status              4623 non-null   object
 14  date_time           4623 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(7), object(7)
memory usage: 577.9+ KB

In [ ]:

# What is the most popular hour for returning cars

newdf = df2.filter(['city','bluecar_counter','date_time', 'postal_code', 'id','slots', 'kind', 'status'], axis=1)
newdf.head()

                                          city  bluecar_counter  ...     kind  status
Address                                                          ...
2 Avenue de Suffren                      Paris                0  ...  STATION      ok
145 Rue Raymond Losserand                Paris                6  ...  STATION      ok
2 Avenue John Fitzgerald Kennedy    Le Bourget                3  ...  STATION      ok
51 Rue EugÃ¨ne OudinÃ©                   Paris                3  ...  STATION      ok
6 avenue de la Porte de Champerret       Paris                3  ...  PARKING      ok

[5 rows x 8 columns]

In [ ]:
#create new data set that includes paris only

parisdf = (newdf.loc[newdf['city'] == 'Paris'])
parisdf

                                     city  bluecar_counter  ...     kind  status
Address                                                     ...
2 Avenue de Suffren                 Paris                0  ...  STATION      ok
145 Rue Raymond Losserand           Paris                6  ...  STATION      ok
51 Rue EugÃ¨ne OudinÃ©              Paris                3  ...  STATION      ok
6 avenue de la Porte de Champerret  Paris                3  ...  PARKING      ok
8 Boulevard Voltaire                Paris                0  ...  STATION      ok
...                                   ...              ...  ...      ...     ...
3 avenue d'Ivry                     Paris                0  ...  STATION      ok
15 rue de Rocroy                    Paris                0  ...  STATION      ok
37 rue de Dantzig                   Paris                4  ...  STATION      ok
142 rue du Bac                      Paris                1  ...  STATION      ok
5 Rue Henry Brisson                 Paris                4  ...  STATION      ok

[2634 rows x 8 columns]

**ANSWERING THE QUESTIONS**

In [ ]:
#sort by id and date they were returned

paris = parisdf.sort_values(['id', 'date_time'],ascending=[True, True])

paris

                           city  bluecar_counter  ...     kind  status
Address                                           ...
8 Place du 25 AoÃ»t 1944  Paris                1  ...  STATION      ok
8 Place du 25 AoÃ»t 1944  Paris                4  ...  STATION      ok
8 Place du 25 AoÃ»t 1944  Paris                2  ...  STATION      ok
8 Place du 25 AoÃ»t 1944  Paris                3  ...  STATION      ok
8 Place du 25 AoÃ»t 1944  Paris                1  ...  STATION      ok
...                         ...              ...  ...      ...     ...
24 Rue Vulpian            Paris                3  ...  STATION      ok
24 Rue Vulpian            Paris                1  ...  STATION      ok
24 Rue Vulpian            Paris                2  ...  STATION      ok
77 Avenue de Wagram       Paris                0  ...  STATION      ok
77 Avenue de Wagram       Paris                2  ...  STATION      ok

[2634 rows x 8 columns]

In [ ]:

paris['bluecar_diff'] = paris['bluecar_counter'].diff()
paris

                           city  bluecar_counter  ... status  bluecar_diff
Address                                           ...
8 Place du 25 AoÃ»t 1944  Paris                1  ...     ok           NaN
8 Place du 25 AoÃ»t 1944  Paris                4  ...     ok           3.0
8 Place du 25 AoÃ»t 1944  Paris                2  ...     ok          -2.0
8 Place du 25 AoÃ»t 1944  Paris                3  ...     ok           1.0
8 Place du 25 AoÃ»t 1944  Paris                1  ...     ok          -2.0
...                         ...              ...  ...    ...           ...
24 Rue Vulpian            Paris                3  ...     ok           2.0
24 Rue Vulpian            Paris                1  ...     ok          -2.0
24 Rue Vulpian            Paris                2  ...     ok           1.0
77 Avenue de Wagram       Paris                0  ...     ok          -2.0
77 Avenue de Wagram       Paris                2  ...     ok           2.0

[2634 rows x 9 columns]

In [ ]:
from datetime import *

paris['hour'] = paris['date_time'].dt.hour

In [ ]:
paris

                           city  bluecar_counter  ... bluecar_diff  hour
Address                                           ...
8 Place du 25 AoÃ»t 1944  Paris                1  ...          NaN    18
8 Place du 25 AoÃ»t 1944  Paris                4  ...          3.0     7
8 Place du 25 AoÃ»t 1944  Paris                2  ...         -2.0    12
8 Place du 25 AoÃ»t 1944  Paris                3  ...          1.0     3
8 Place du 25 AoÃ»t 1944  Paris                1  ...         -2.0    18
...                         ...              ...  ...          ...   ...
24 Rue Vulpian            Paris                3  ...          2.0    22
24 Rue Vulpian            Paris                1  ...         -2.0    12
24 Rue Vulpian            Paris                2  ...          1.0    23
77 Avenue de Wagram       Paris                0  ...         -2.0    20
77 Avenue de Wagram       Paris                2  ...          2.0     0

[2634 rows x 10 columns]

In [ ]:
#Hour most cars were picked
paris[paris['bluecar_diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False).head(1)

hour
21    50
Name: hour, dtype: int64

In [ ]:
#Hour most cars were returned
paris[paris['bluecar_diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False).head(1)

hour
9    56
Name: hour, dtype: int64

In [ ]:
#what station is the most popular
paris[(paris['kind'] == 'STATION') & (paris['status'] == 'ok')].groupby('id')['id'].count().sort_values(ascending= False).head(1)

id
paris-portedemontrouge-8    13
Name: id, dtype: int64

In [ ]:
#most popular for picking up electric cars? Does the most popular station belong to that postal code?

paris[(paris['kind'] == 'STATION') & (paris['status'] == 'ok')].groupby('postal_code')['postal_code'].count().sort_values(ascending= False).head(1)

postal_code
75015    220
Name: postal_code, dtype: int64

In [ ]:
#Does the most popular station belong to that postal code?
paris.loc[(paris['postal_code'] == 75015) & (paris['id'] == 'paris-portedemontrouge-8')]
print("judging by the output, it doesn't")

judging by the output, it doesn't